header{
    font-size: 60px;
    color:blue;
    margin:0 auto;
    width:100px;
    text-align: center
}
img{
    width:120px;
    height:100px;
    position:absolute;
    right:10px;
    top:5px
}
li{
    text-decoration: underline;
    font-size: 30px
}