header{
    font-size: 50px;
    color:blue;
    margin:0 auto;
    width:400px;
    text-align: center
}
#img1{
    width:120px;
    height:100px;
    position:absolute;
    right:10px;
    top:5px
}
#img2{
    width:120px;
    height:100px;
}
li{
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 80px
}
h1{
    width:400px;
    margin:2% auto;
    text-align: center
}
.body{
    float:left;
    width:400px;
    padding-top:80px
}
p{
    font-size: 30px;
    color:red
}