header{
    font-size: 50px;
    color:blue;
    margin:0 auto;
    width:400px;
    text-align: center
}
img{
    width:120px;
    height:100px;
    position:absolute;
    right:10px;
    top:5px
}
li{
    text-decoration: underline;
    font-size: 30px;
    margin-top: 80px
}
h1{
    width:400px;
    margin:0 auto;
    text-align: center
}